.title{
    width: 350px;
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1pc;
}

.bex{
    color: rgb(255, 255, 255);
    text-align: center;
}

.rus{
    color: rgb(255, 255, 255);
    text-align: center;
}



.container{
    background-color: rgb(63, 63, 207);
}

.title2{
    background-color: orange;
    color: white;
}

.title3{
    background-color: rgb(0, 0, 31);
    color: white;
}
.title4{
    background-color: rgb(0, 0, 37);
    color: white;
}
.title5{
    background-color: rgb(0, 0, 32);
    color: white;
}
table, th, td{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}
.toha{
    width: 1290px;
    height: 130px;
}

.wuy{
    color: white;
    text-align: center;
}

.russ{
    width: 250px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1pc;
}

.box{
    text-align: center;
    width: 250px;
    margin: 30px auto;
    background-color: rgb(0, 0, 46);
    border-radius: 1pc;
    padding-bottom: 13px;
}
.uy{
    color: orange;
}
.yu{
    color: white;
    
}
